
 
 <div class="container">

     <h1>Maps</h1>



    <hr>
    


    <figure id="myMap"></figure>


    <script src="/js/directions.js"></script>
    <script src="/js/map-styles.js"></script>
    <script src="/js/showMaps.js"></script>
    <script src="/js/libros-map-setup.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOuDALvzBrOz-Y-iQxy8lPZKvl8yw9ZX4&callback=initMap"></script>
